/* h2{
    color: aqua;
}
p{
    color: brown;
    text-align: center;
    font-size: 25px;
}
.par{
    color: chartreuse;
}
#jk{
    color:black;
}
div{
    height: 200px;
    width: 200px;
    color:cadetblue;
    background-color: red;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 100px;
    border: 10px solid black;
} */

/* p{
    color: red;

}
h1{
    text-align: center;
}
div{
    border: 10px solid black;
    margin: 100px;
}
.jk{
    display:block;
}
.jk1{
    display:inline;
} */

/* div{
    height: 200px;
    width: 200px;
    color: aliceblue;
    padding: 10px;

} */

.box{
    display:inline;
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}
.box1{
    height: 1000px;
    width: 1000px;
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
}
div{
    height: 500px;
    width: 1000px;
    padding: 20px;
    border: 5px solid black;
    background-color: palevioletred;

}
img{
    float: left;
}


